body { 
  font-family: 'Josefin Slab', serif;   
  width:100%; 
  height:100%;
  margin:0; 

}  
#image-container { 
  padding:20px;

} 

#photo { 
  display:flex;
  width: 100%; 
  height:auto; 
  border: 1px solid white; 
  border-radius:5px;
}
.data-container {
  display: flex;   
  flex-wrap: wrap;
  justify-content: space-evenly; 
  width: 100%; 
  height: 200px;  
  } 
/* .covid-databox { 
} 

.testing-databox {
 
} */

.nav {  
  display: flex;
  width:100%; 
  height:100px; 
  background-color: black;
  padding:0; 
  color: white; 
  text-decoration:none;
}  
.footer {  
  display: flex; 

  width:100%; 
  height:100px; 
  background-color: black;
  padding:0; 
}  

ul {
  list-style: none;
}   

/* #covid-form {
  border: orangered 2rem;
} */ 

/* @media screen and (min-width:540px) {

.data-container {
  flex-wrap: wrap;
}
} */ 

